# Introduction to Sets - Lab

## Introduction

Probability theory is all around. A common example is in the game of poker or related card games, where players try to calculate the probability of winning a round given the cards they have in their hands. Also in the business context probabilities play an important role. Operating in an volatile economy, companies need to take uncertainty into account and this is exactly where probability theory plays a role.

As mentioned in the lesson before, a good understanding of probability starts with understanding of sets and set operations. That's exactly what you'll learn in this lab!

## Objectives

You will be able to:

- Have a better sense of what sets, universal sets, and subsets are
- Know how to perform common set operations in Python 
- Learn how to use Venn Diagrams to understand about the relationships between sets

## Exploring set operations using a Venn Diagram

Let's start with a pretty conceptual example. Let's consider the following sets:

   - $\Omega$ = positive integers between [1, 12]
   - $A$= even numbers between [1, 10]
   - $B = \{3,8,11,12\}$
   - $C = \{2,3,6,8,9,11\}$
    

#### a. Illustrate all the sets in a Venn Diagram like the one below. The rectangular shape represents the universal set.

![title](venn_diagr.png)

#### b. Using your Venn Diagram, list the elements in each of the following sets:

- $ A \cap B$
- $ A \cup C$
- $A^c$ 
- The absolute complement of B
- $(A \cup B)^c$
- $B \cap C'$
- $A\backslash B$
- $C \backslash (B \backslash A)$ 
- $(C \cap A) \cup (C \backslash B)$
        
#### c. As seen in the lecture, you can easily create sets in Python as well. For the remainder of this exercise, let's  create sets A, B and C and universal set U in Python and test out the results you came up with.

In [11]:
# Create set A
import numpy as np
A = {2,4, 6, 8, 10, 12}
'Type A: {}, A: {}'.format(type(A), A)

"Type A: <class 'set'>, A: {2, 4, 6, 8, 10, 12}"

In [12]:
# Create set B
B = {3, 8, 11, 12}
'Type B: {}, B: {}'.format(type(B), B)

"Type B: <class 'set'>, B: {8, 11, 3, 12}"

In [13]:
# Create set C
C = {2, 3, 6, 8, 9, 11}
'Type C: {}, C: {}'.format(type(C), C)

"Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

In [14]:
# Create universal set U
U = {1,2,3,4,5,6,7,8,9,10,11,12}
'Type U: {}, U: {}'.format(type(U), U)

"Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

Now, verify your answers in section 1 by using the correct methods in Python. To provide a little bit of help, you can find a table with common operations on sets below.

| Method        |	Equivalent |	Result |
| ------                    | ------       | ------    |
| s.issubset(t)             |	s <= t     | test whether every element in s is in t
| s.issuperset(t)           |	s >= t     | test whether every element in t is in s
| s.union(t)                |	s $\mid$ t | new set with elements from both s and t
| s.intersection(t)         |	s & t      | new set with elements common to s and t
| s.difference(t)           |	s - t 	   | new set with elements in s but not in t
| s.symmetric_difference(t) |	s ^ t      | new set with elements in either s or t but not both

#### 1. $ A \cap B$

In [15]:
A_inters_B =  A.intersection(B)
A_inters_B

{8, 12}

#### 2. $ A \cup C $

In [16]:
A_union_C = A.union(C)
A_union_C

{2, 3, 4, 6, 8, 9, 10, 11, 12}

#### 3.  $A^c$ (you'll have to be a little creative here!)

In [17]:
A_comp = U.difference(A) # or A_comp = U-A
A_comp

{1, 3, 5, 7, 9, 11}

#### 4.  $(A \cup B)^c $

A_union_B_comp = U.difference(A.union(B)) 
A_union_B_comp

#### 5. $B \cap C' $

In [18]:
B_inters_C_comp = B.intersection(U.difference(C))
B_inters_C_comp

{12}

#### 6. $A\backslash B$

In [20]:
A_min_B = A.difference(B)
A_min_B

{2, 4, 6, 10}

#### 7. $C \backslash (B \backslash A) $

In [21]:
C_min_B_min_A= C.difference(B.difference(A))
C_min_B_min_A

{2, 6, 8, 9}

#### 8.  $(C \cap A) \cup (C \backslash B)$

In [22]:
C_inters_A_union_C_min_B= (C.intersection(A).union(C.difference(B)))
C_inters_A_union_C_min_B

{2, 6, 8, 9}

## The Inclusion Exclustion Principle

Use A, B and C from exercise one to verify the inclusion exclusion principle in Python. What you'll do is translate the left hand side of the equation for the inclusion principle in the object `left_hand_eq`, and the right hand side in the object `right_hand_eq` and see if the results are the same.

In [24]:
left_hand_eq = len((A.union(B)).union(C))
print(left_hand_eq)  # 9

9

In [26]:
right_hand_eq = len(A)+len(B)+len(C)-len(A.intersection(B))-len(A.intersection(C))-len(B.intersection(C))+len((A.intersection(B)).intersection(C))
print(right_hand_eq) # 9

9

In [30]:
left_hand_eq == right_hand_eq # needs to say "True"

True

## Set Operations in Python

Mary is preparing for a road trip from her hometown, Boston, to Chicago. She has quite a few pets, yet luckily, so do her friends. They try to make sure that they take care of each other's pets while someone is away on a trip. A month ago, each respective person's pet collection was given by the following three sets:

In [45]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In this exercise, you'll be able to use the following operations:

|Operation                          |	Equivalent |	Result|
| ------                            | ------       | ------   |
|s.update(t)                        | 	$s \mid t$ 	   |return set s with elements added from t|
|s.intersection_update(t)           | 	s &= t     |	return set s keeping only elements also found in t|
|s.difference_update(t)             |	s -= t 	   |return set s after removing elements found in t|
|s.symmetric_difference_update(t)   |	s ^= t 	   |return set s with elements from s or t but not both|
|s.add(x)                           |	           |	add element x to set s|
|s.remove(x)                        |	           |	remove x from set s|
|s.discard(x)                       |	           |	removes x from set s if present|
|s.pop()                            | 	           |	remove and return an arbitrary element from s|
|s.clear()            	            |  	           |remove all elements from set s|

Sadly, Eve's turtle passed away last week. Let's update her pet list accordingly.

In [46]:
Eve.remove('Turtle')
Eve # should be {'Rabbit', 'Goldfish'}

{'Goldfish', 'Rabbit'}

This time around, Nina promised to take care of Mary's pets while she's awat. but also wants to make sure her pets are well taken care of. As Nina is already spending a considerable amount of time taking care of her own pets, adding a few more won't make that much of a difference. Nina does want to update her list while Marie is away.

In [50]:
Nina.update(Mary)
Nina # {'Chicken', 'Horse', 'Chinchilla', 'Parrot', 'Rabbit', 'Donkey', 'Dog', 'Cat', 'Goldfish'}

{'Cat',
 'Chicken',
 'Chinchilla',
 'Dog',
 'Donkey',
 'Goldfish',
 'Horse',
 'Parrot',
 'Rabbit'}

Mary, on the other hand, wants to clear her list altogether while away:

In [51]:
Mary.clear()
Mary  # set()

set()

Look at how many species Nina is taking care of right now.

In [52]:
n_species_Nina = len(Nina)
n_species_Nina # 9

9

Taking care of this many pets is weighing heavy on Nina. She remembered Eve had a smaller collection of pets lately, and that's why she asks Eve to take care of the common species. This way, the extra pets are not a huge effort on Eve's behalf. Let's update Nina's pet collection.

In [54]:
Nina = len(Nina.difference(Nina.intersection(Eve)))
Nina # 7

7

Taking care of 7 species seems doable for Nina!

## Writing down the elements in a set


Mary dropped off her Pet's at Nina's house, and finally made her way to the highway. Awesome, her vacation has begun!
She's approaching an exit. At the end of this particular highway exit, cars can either turn left (L), go straight (S) or turn right (R). It's pretty busy and there are two cars driving close to her. What we'll do now is create several sets. You won't be using Python here, it's sufficient to write the sets down on paper. A good notion of sets and subsets will help you calculate probabilities in the next lab!

a. Create a set $A$ of all possible outcomes assuming that all three cars drive in the same direction.
           
b. Create a set $B$ of all possible outcomes assuming that all three cars drive in a different direction.
             
c. Create a set $C$ of all possible outcomes assuming that exactly 2 cars turn right.
            
d. Create a set $D$ of all possible outcomes assuming that exactly 2 cars drive in the same direction.

                          
e. Write down the interpretation and give all possible outcomes for the sets denoted by:
 - I. $D'$ 
 - II. $C \cap D$, 
 - III. $C \cup D$.

## Optional exercise: European Countries

Use set operations to determine which European countries are not in the European Union. You just might have to clean the data first with pandas.

In [28]:
import pandas as pd

#Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

#Use pandas to remove any whitespace from names


europe['Country'] = europe['Country'].str.strip()
print(europe)

eu['Country'] = eu['Country'].str.strip()
print(eu)
# print(type(df))
# for index, row in europe.iterrows():
#     print(row["country"])

    Rank                  Country  Population  % of population  \
0    1.0                   Russia   143964709            17.15
1    2.0                  Germany    82521653             9.80
2    3.0                   Turkey    80810000             9.60
3    4.0                   France    65233271             7.76
4    5.0           United Kingdom    65110276             7.75
5    6.0                    Italy    59320118             7.21
6    7.0                    Spain    46397452             5.53
7    8.0                  Ukraine    42895704             5.10
8    9.0                   Poland    38104832             4.58
9   10.0                  Romania    19622000             2.36
10  11.0              Netherlands    17084459             2.02
11  12.0                  Belgium    11469204             1.34
12  13.0                   Greece    11142161             1.28
13  14.0           Czech Republic    10625250             1.25
14  15.0                 Portugal    10291196             1.23
15  16.0                   Sweden     9952186             1.17
16  17.0                  Hungary     9702671             1.17
17  18.0               Azerbaijan     9923914             1.15
18  19.0                  Belarus     9452113             1.13
19  20.0                   Serbia     8762027             0.85
20  21.0                  Austria     8751820             1.02
21  22.0              Switzerland     8544034             0.98
22  23.0                 Bulgaria     7036848             0.86
23  24.0                  Denmark     5745547             0.68
24  25.0                  Finland     5475000             0.65
25  26.0                 Slovakia     5426000             0.65
26  27.0                   Norway     5194000             0.62
27  28.0                  Ireland     4630000             0.55
28  29.0                  Croatia     4230000             0.50
29  30.0   Bosnia and Herzegovina     3750000             0.45
30  31.0                  Georgia     3707000             0.44
31  32.0                  Moldova     3564000             0.42
32  33.0                  Armenia     3010000             0.36
33  34.0                Lithuania     2906000             0.35
34  35.0                  Albania     2887000             0.34
35  36.0                Macedonia     2071000             0.25
36  37.0                 Slovenia     2065000             0.25
37  38.0                   Latvia     1979000             0.24
38   NaN                   Kosovo     1867000             0.22
39  39.0                  Estonia     1315000             0.16
40  40.0                   Cyprus      876000             0.10
41  41.0               Montenegro      620000             0.07
42  42.0               Luxembourg      570000             0.07
43  43.0                    Malta      425000             0.05
44  44.0                  Iceland      331000             0.04
45   NaN              Jersey (UK)      103000             0.01
46   NaN         Isle of Man (UK)       89000             0.01
47  45.0                  Andorra       78000             0.01
48   NaN            Guernsey (UK)       66000             0.01
49   NaN  Faroe Islands (Denmark)       49000             0.01
50  46.0            Liechtenstein       37000             0.00
51  47.0                   Monaco       37000             0.00
52   NaN           Gibraltar (UK)       34000             0.00
53  48.0               San Marino       33000             0.00
54   NaN  Åland Islands (Finland)       29000             0.00
55   NaN        Svalbard (Norway)        3000             0.00
56  49.0             Vatican City        1000             0.00

    Average relative annual growth (%)  Average absolute annual growth  \
0                                 0.19                          294285
1                                 1.20                          600000
2                                 1.34                         1035000
3                                 0.39                          261022
4                                 0.75                          484000
5                                 0.49                          298000
6                                -0.06                          -28000
7                                -0.32                         -136000
8                                 0.05                           20000
9                                -0.41                          -81000
10                                0.37                           62000
11                                0.52                           58000
12                                0.16                          -12000
13                               -0.06                           -6000
14                               -0.56                          -58000
15                                1.03                          100000
16                               -0.28                          -28000
17                                1.23                          117000
18                                0.00                               0
19                               -0.41                          -29000
20                                0.67                           57000
21                                0.87                           71000
22                               -0.57                          -41000
23                                0.48                           27000
24                                0.11                            6000
25                                0.13                            7000
26                                1.11                           57000
27                                0.35                           16000
28                               -0.31                          -13000
29                               -0.64                          -24000
30                               -1.23                          -46000
31                                0.48                           17000
32                               -0.03                           -1000
33                               -0.85                          -25000
34                               -0.41                          -12000
35                                0.15                            3000
36                                0.15                            3000
37                               -0.90                          -18000
38                                1.08                           20000
39                                0.46                            6000
40                                0.46                            4000
41                                0.00                               0
42                                2.52                           14000
43                                0.47                            2000
44                                1.22                            4000
45                                0.98                            1000
46                                1.14                            1000
47                                1.30                            1000
48                                1.54                            1000
49                                0.00                               0
50                                0.00                               0
51                                0.00                               0
52                                3.03                            1000
53                                0.00                               0
54                                0.00                               0
55                                0.00                               0
56                                0.00                               0

   Estimated doubling time (Years)  Official figure (where available)  \
0                              368                          146839993
1                               90                           82800000
2                               52                           77695904
3                              177                           66991000
4                               92                           66573504
5                              141                           60788845
6                               -                            46449565
7                               -                            42726067
8                             1334                           38484000
9                               -                            19942642
10                             189                           17119800
11                             134                           11370968
12                              -                            10816286
13                              -                            10588063
14                              -                            10309573
15                              68                           10081396
16                              -                             9849000
17                              57                            9810000
18                              -                             9481100
19                              -                             7146759
20                             104                            8794267
21                              80                            8211700
22                              -                             7245677
23                             145                            5659715
24                             632                            5473465
25                             537                            5415949
26                              63                            5165802
27                             200                            4761865
28                              -                             4267558
29                              -                             3791622
30                              -                             3729500
31                             145                            3555200
32                              -                             3010600
33                              -                             2912566
34                              -                             2893005
35                             478                            2069172
36                             477                            2062731
37                              -                             1983300
38                              64                            1815606
39                             152                            1315635
40                             151                             865900
41                              -                              620029
42                              28                             562958
43                             147                             417432
44                              57                             329100
45                              71                              97857
46                              61                              84497
47                              54                              76949
48                              45                              65150
49                              -                               48693
50                              -                               37370
51                              -                               36950
52                              23                              30001
53                              -                               32798
54                              -                               28666
55                              -                                2575
56                              -                                   0

    Date of last figure Regional grouping                          Source
0   2017-01-01 00:00:00             EAEU                              [1]
1   2016-12-31 00:00:00               EU                Official estimate
2   2016-12-31 00:00:00               NaN                             [2]
3   2017-03-01 00:00:00               EU                              [3]
4   2016-12-30 00:00:00               EU                Official estimate
5   2017-01-01 00:00:00               EU        Monthly official estimate
6   2015-01-01 00:00:00               EU                Official estimate
7   2015-03-01 00:00:00               NaN       Monthly official estimate
8   2014-12-31 00:00:00               EU                Official estimate
9   2014-01-01 00:00:00               EU                Official estimate
10  2018-04-15 00:00:00               EU        Official population clock
11  2017-08-01 00:00:00               EU        Monthly official estimate
12  2011-05-24 00:00:00               EU         Final 2011 census result
13  2017-07-30 00:00:00               EU                Official estimate
14  2016-12-31 00:00:00               EU                Official estimate
15  2017-08-31 00:00:00               EU                Official estimate
16  2014-12-31 00:00:00               EU                Official estimate
17  2017-01-01 00:00:00               NaN               Official estimate
18  2015-04-01 00:00:00             EAEU                Official estimate
19  2014-01-01 00:00:00               NaN               Official estimate
20  2018-07-01 00:00:00               EU                Official estimate
21  2014-09-30 00:00:00             EFTA                Official estimate
22  2013-12-31 00:00:00               EU                Official estimate
23  2015-01-01 00:00:00               EU                Official estimate
24  2015-03-31 00:00:00               EU        Monthly official estimate
25  2014-09-30 00:00:00               EU                Official estimate
26  2015-01-01 00:00:00             EFTA                Official estimate
27  2016-04-01 00:00:00               EU   Preliminary 2016 census result
28  2012-07-01 00:00:00               EU                Official estimate
29  2013-10-01 00:00:00               NaN  Preliminary 2013 census result
30  2015-01-01 00:00:00               NaN               Official estimate
31  2015-01-01 00:00:00               NaN               Official estimate
32  2014-12-31 00:00:00             EAEU        Monthly official estimate
33  2015-04-01 00:00:00               EU        Monthly official estimate
34  2015-01-01 00:00:00               NaN               Official estimate
35  2014-12-31 00:00:00               NaN               Official estimate
36  2014-10-01 00:00:00               EU                Official estimate
37  2015-04-01 00:00:00               EU        Monthly official estimate
38  2012-12-31 00:00:00               NaN               Official estimate
39  2017-01-01 00:00:00               EU                Official estimate
40  2012-12-31 00:00:00               EU                Official estimate
41  2011-04-01 00:00:00               NaN              2011 census result
42  2014-12-31 00:00:00               EU                Official estimate
43  2011-11-20 00:00:00               EU               2011 census result
44  2015-01-01 00:00:00             EFTA                Official estimate
45  2011-03-27 00:00:00               NaN              2011 census result
46  2011-03-27 00:00:00               NaN              2011 census result
47                 2014               NaN               Official estimate
48  2014-03-31 00:00:00               NaN               Official estimate
49  2015-02-01 00:00:00               NaN       Monthly official estimate
50  2014-12-31 00:00:00             EFTA                Official estimate
51  2013-12-31 00:00:00               NaN               Official estimate
52                 2012               EU                Official estimate
53  2015-02-28 00:00:00               NaN       Monthly official estimate
54  2013-12-31 00:00:00               EU                Official estimate
55  2014-07-01 00:00:00             EFTA                Official estimate
56                 2012               NaN               Official estimate
    Rank         Country  2017 population  % of pop.  \
0      1         Germany         82800000      16.18
1      2          France         67210459      13.10
2      3  United Kingdom         65808573      12.86
3      4           Italy         60589445      11.84
4      5           Spain         46528966       9.09
5      6          Poland         37972964       7.42
6      7         Romania         19638309       3.84
7      8     Netherlands         17081507       3.34
8      9         Belgium         11365834       2.22
9     10          Greece         10757293       2.10
10    11  Czech Republic         10610055       2.07
11    12        Portugal         10309573       2.01
12    13          Sweden          9995153       1.95
13    14         Hungary          9797561       1.91
14    15         Austria          8772865       1.71
15    16        Bulgaria          7101859       1.39
16    17         Denmark          5748769       1.12
17    18         Finland          5503297       1.08
18    19        Slovakia          5435343       1.06
19    20         Ireland          4774833       0.93
20    21         Croatia          4154213       0.81
21    22       Lithuania          2847904       0.56
22    23        Slovenia          2065895       0.40
23    24          Latvia          1950116       0.38
24    25         Estonia          1315635       0.26
25    26          Cyprus           854802       0.17
26    27      Luxembourg           590667       0.12
27    28           Malta           440433       0.09

    Average relative annual growth  Average absolute annual growth  \
0                             0.76                          628876
1                             0.40                          265557
2                             0.65                          428793
3                            -0.13                          -76001
4                             0.19                           89037
5                             0.02                            5756
6                            -0.62                         -121252
7                             0.60                          103004
8                             0.48                           54982
9                            -0.25                          -26390
10                            0.53                           31235
11                           -0.31                          -31659
12                            1.46                          146245
13                           -0.33                          -32814
14                            0.95                           83578
15                           -0.73                          -51548
16                            0.73                           41820
17                            0.29                           16036
18                            0.17                            9106
19                            1.06                           50645
20                           -0.87                          -36139
21                           -1.41                          -40082
22                            0.08                            1708
23                           -0.96                          -18661
24                           -0.02                            -309
25                            0.76                            6533
26                            2.50                           14779
27                            1.39                            6114

    Official figure Date of last figure                     Source
0          82576900          2017-03-31          Official estimate
1          67174000          2018-01-01  Monthly official estimate
2          65648100          2017-06-30          Official estimate
3          60494000          2018-01-01  Monthly official estimate

In [56]:
europe.head(3) #preview dataframe

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [57]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [30]:
european_countries = set(europe['Country'])
EU = set(eu['Country'])

{'Iceland', 'Monaco', 'Macedonia', 'Malta', 'San Marino', 'Croatia', 'France', 'Svalbard (Norway)', 'Estonia', 'Albania', 'Kosovo', 'Cyprus', 'Åland Islands (Finland)', 'Poland', 'Isle of Man (UK)', 'Luxembourg', 'Andorra', 'Austria', 'Jersey (UK)', 'Romania', 'Czech Republic', 'Norway', 'Moldova', 'Belgium', 'Hungary', 'Belarus', 'United Kingdom', 'Slovenia', 'Georgia', 'Italy', 'Spain', 'Netherlands', 'Bosnia and Herzegovina', 'Lithuania', 'Latvia', 'Faroe Islands (Denmark)', 'Ukraine', 'Gibraltar (UK)', 'Denmark', 'Vatican City', 'Armenia', 'Montenegro', 'Turkey', 'Serbia', 'Germany', 'Greece', 'Guernsey (UK)', 'Portugal', 'Ireland', 'Liechtenstein', 'Slovakia', 'Azerbaijan', 'Russia', 'Bulgaria', 'Switzerland', 'Finland', 'Sweden'}

In [31]:
not_in_eu = european_countries.difference(EU)
print(not_in_eu)

{'Iceland', 'Monaco', 'Macedonia', 'San Marino', 'Svalbard (Norway)', 'Albania', 'Kosovo', 'Åland Islands (Finland)', 'Andorra', 'Isle of Man (UK)', 'Jersey (UK)', 'Norway', 'Moldova', 'Belarus', 'Switzerland', 'Georgia', 'Bosnia and Herzegovina', 'Gibraltar (UK)', 'Faroe Islands (Denmark)', 'Ukraine', 'Vatican City', 'Armenia', 'Turkey', 'Serbia', 'Guernsey (UK)', 'Liechtenstein', 'Azerbaijan', 'Russia', 'Montenegro'}

## Summary

In this lab, you practiced your knowledge on sets, such as common set operations, the use of Venn Diagrams, the inclusion exclusion principle, and how to use sets in Python!